{
  "root": true,
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "overrides": [
    {
      "extends": [
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ],
      "files": ["./src/*.ts"],
      "parserOptions": {
        "project": "./tsconfig.json"
      }
    },
    {
      "extends": [
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ],
      "files": ["./tests/*.ts"],
      "rules": {
        "prefer-arrow-callback": "off",
        "func-names": "off"
      },
      "parserOptions": {
        "project": "./tests/tsconfig.json"
      }
    }
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "@typescript-eslint/consistent-type-imports": [
      "error",
      { "prefer": "type-imports" }
    ],

    // conflict with typescript:
    "import/no-unresolved": "off",
    "import/extensions": "off"
  }
}
